.picture {
position: absolute;
width: 631px;
height: 328px;
left: 100px;
top: 848px;
cursor: pointer;
}

.pictureTwo {
    position: absolute;
    width: 631px;
    height: 328px;
    left: 100px;
    top:328px;
}

.text {
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
margin-left: -35px;
color: #404040;
}

.img {
position: absolute;
width: 631px;
height: 302px;
left: -40px;
top: 50px;

background: #F4F4F4;
border: 1px dashed #404040;
box-sizing: border-box;
border-radius: 10px;
}

.imgOne {    
position: absolute;
left: 255px;
top: 70px;
width: 125px;
}

.inputOne {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 631px;
height: 82px;
left: 740px;
top: 848px;

}

.important1 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 100px;
    top: 13px;
    }

.important2 {
    position: absolute;
width: 16px;
height: 16px;
left: 30px;
top: 30px;
}

.important3 {
    position: absolute;
width: 16px;
height: 16px;
left: 33px;
top: 4px;

}

.important4 {
position: absolute;
width: 16px;
height: 16px;
left:52px;
top: 2px;
}

.important5 {
position: absolute;
width: 16px;
height: 16px;
left: 98px;
top: 252px;
}

.inputTitle {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 631px;
height: 56px;
left: 0px;
top: 20px;

background: #FFFFFF;      
border: 2px solid #F4BA00;
border-radius: 8px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 55px 0px;
}

.p1 {
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;

color: #404040;
margin-top: 30px;

position: absolute;
}

.inputTwo {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 631px;
height: 82px;
left: 740px;
top: 990px;
}

.inputURL {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 631px;
height: 56px;
left: 0px;
top: 26px;

/* W Background */

background: #FFFFFF;
border: 2px solid #F4BA00;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}d

.p2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #404040;
}

.inputThree {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 631px;
height: 82px;
left: 740px;
top: 1115px;
}

.inputCategory {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 631px;
height: 56px;
left: 0px;
top: 26px;

/* W Background */

background: #FFFFFF;
border: 2px solid #F4BA00;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.p3 {
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
color: #404040;
}

.textarea {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1312px;
height: 197px;
left: 60px;
top: 1217px;
}

.pTextarea {
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */


color: #404040;

}

.inputTextarea {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 1312px;
height: 171px;
left: 0px;
top: 26px;

/* W Background */

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.short {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1312px;
height: 82px;
left: 60px;
top: 1455px;

}

.pShort {
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */


color: #404040;
}

.inputShort {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 1312px;
height: 56px;
left: 0px;
top: 26px;

/* W Background */

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.Icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 10px;
    top: 15px;
    z-index: 999;
}

.links {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1312px;
height: 56px;
left: 60px;
top: 1595px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-bottom: none;
border-radius: 8px 8px 0px 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;

}

.labelLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 1312px;
    height: 82px;
    left: 60px;
    top: 1568px;
    margin-top: 15px;
    
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */


color: #404040;
}

.inputLinks {
    display: flex;
flex-direction: column;
align-items: flex-start;

position: static;
width: 1242px;
height: 56px;
left: 0px;
top: 100px;

/* W Background */

background: #FFFFFF;
border: 0px solid #CCCCCC;
border-radius: 8px 8px 0px 0px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 64px;
}

.inputLinks:focus {
    outline: none;
}

.discord {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1312px;
height: 58px;
left: 59px;
top: 1659px;


background: #FFFFFF;
border: 1px solid #CCCCCC;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 1px;
}

.inputDiscord {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 1262px;
height: 56px;
left: 0px;
top: 100px;

/* W Background */

background: #FFFFFF;
border: 0px solid #CCCCCC;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 48px;
}

.inputDiscord:focus {
    outline: none;
}

.twitter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 1312px;
    height: 56px;
    left: 59px;
    top: 1716px;
    border-bottom: none;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 1px;
}


.inputTwitter {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 1262px;
height: 56px;
left: 0px;
top: 0px;

/* W Background */

background: #FFFFFF;
border: 0px solid #CCCCCC;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 48px;
}

.inputTwitter:focus {
    outline: none;
}

.instagram {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1312px;
height: 56px;
left: 59px;
top: 1772px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-bottom: none;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 1px;

}


.inputInstagram {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 1262px;
height: 56px;
left: 0px;
top: 0px;

/* W Background */

background: #FFFFFF;
border: 0px solid #CCCCCC;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 48px;
}

.inputInstagram:focus {
    outline: none;
}

.telegram {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1312px;
height: 58px;
left: 59px;
top: 1828px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 0px 0px 8px 8px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left: 1px;
}

.inputTelegram {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    
    position: static;
    width: 1262px;
    height: 56px;
    left: 0px;
    top: 0px;
    
    /* W Background */
    
    background: #FFFFFF;
    border: 0px solid #CCCCCC;
    border-radius: 0px 0px 8px 8px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 48px;
}
.inputTelegram:focus {
    outline: none;
}

.pLog {
    position: absolute;
width: 37px;
height: 18px;
left: 60px;
top: 1934px;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */


color: #404040;
}

.faQ {
    position: absolute;
width: 567px;
height: 24px;
left: 61px;
top: 1963px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 24px;
/* identical to box height, or 240% */


color: #404040;
}

.note {
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


color: #404040;

}

.notice {
position: absolute;
width: 938px;
height: 61px;
left: 61px;
top: 2028px;
}

.box {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 15px;

width: 950px;
background: #FFF3CC;

border: 1px solid #F4BA00;
box-sizing: border-box;
border-radius: 8px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;

color: #404040;
}

.btn {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: absolute;
width: 172px;
height: 56px;
left: 1150px;
top: 2055px;
cursor: pointer;

/* Primary/100% */

background: #F4BA00;
border-radius: 8px;
border-style: none;
}

/* .toggle {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 640px;
    top: 1565px;

    display: flex;
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #F4BA00;
    position: relative;
    transition: background-color 0.2s;

    &:before {
        content: "";
        position: absolute;
        top: 1565px;
        right: 640px;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        transition:0.2s;
        background:#fff;
        box-shadow: 0 2px 4px 
    }
} */

.pBtn {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 7px 0px;
    color: white;
}
