.Banner {
position: absolute;
width: 1312px;
height: 500px;
left: 100px;
top: 298px;
}

.frameBanner {
position: absolute;
width: 1312px;
height: 375px;
left: 20px;
top: 50px;
cursor: pointer;


background: #F4F4F4;
box-sizing: border-box;
border-radius: 10px;
}

.pictureBanner {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 564px;
    top: 320px;
    background: #F4F4F4;
    border-radius: 244px;
    border: 1px solid #F4BA00;
    cursor: pointer;
}

.circleBanner {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 45px;
    top: 80px;
}

.circleBanner1 {
    position: absolute;
    width: 80px;
    left: 55px;
    top: 45px;
}